<div class="navi">
  <%= image_tag 'logo.png', alt: "MatchMaker logo | Boost Tinder Matches" %>
  <div>
    <h1>MatchBooster</h1>
    <h2 style="font-size: 1.25rem;">Get More Tinder Matches</h2>
  </div>
</div>

<div class="home">
  <h1>Go on more dates! Match with more people! Find the one!</h1>
  <%= simple_form_for(@user) do |f| %>
    <%= f.input :email_address, label: false, placeholder: "Email Address" %>
    <%= f.submit %>
  <% end %>
</div>

<div class="footer">
  <p>With <i class="fas fa-heart"></i> from Shoreditch </p>
</div>
