<div class="navi">
  <%= image_tag 'logo.png' %>
  <div>
    <h1>MatchBooster</h1>
    <h5>Get More Tinder Matches</h5>
  </div>
</div>

<div class="home">
  <h1>Go on more dates! Match with more people! Find the one!</h1>
  <%= simple_form_for(@user) do |f| %>
      <%= f.input :email_address, label: false, placeholder: "Email Address" %>
      <%= f.submit %>
  <% end %>
</div>

<div class="footer">
  <p>With <i class="fas fa-heart"></i> from Shoreditch </p>
</div>
