<div class="signup">
  <%= image_tag 'logo.png' %>
  <h1>Thank you for signing up!</h1>
  <h2>We will send you instructions soon.</h2>
</div>
<div class="footer">
  <p>With <i class="fas fa-heart"></i> from Shoreditch </p>
</div>
